<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <!-- web应用初始化参数 -->
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  
   <listener>
   	<description>servletcontext监听器</description>
  	<listener-class>com.test.servletcontextlistener.MyServletContextListener</listener-class>
   </listener>
   <listener>
   	<listener-class>com.test.sessionlistener.MyHttpSessionListener</listener-class>
   </listener>
   <listener>
   	<listener-class>com.test.servletrequestlistener.MyServletRequestListener</listener-class>
   </listener>
   
   
  <filter>
  	<filter-name>TransActionFilter</filter-name>
  	<filter-class>com.test.threadlocal.TransActionFilter</filter-class>
  </filter>
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>com.test.filterdemo.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <filter>
  	<filter-name>GzipFilter</filter-name>
  	<filter-class>com.test.gzipfilterdemo.GzipFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>TransActionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>GzipFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>ServletDemo01</servlet-name>
  	<servlet-class>com.test.response.ServletDemo01</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo02</servlet-name>
  	<servlet-class>com.test.response.ServletDemo02</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo03</servlet-name>
  	<servlet-class>com.test.response.ServletDemo03</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo04</servlet-name>
  	<servlet-class>com.test.response.ServletDemo04</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo05</servlet-name>
  	<servlet-class>com.test.response.ServletDemo05</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo06</servlet-name>
  	<servlet-class>com.test.response.ServletDemo06</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo07</servlet-name>
  	<servlet-class>com.test.response.ServletDemo07</servlet-class>
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>ws</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>123456</param-value>
  	</init-param>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo08</servlet-name>
  	<servlet-class>com.test.response.ServletDemo08</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo09</servlet-name>
  	<servlet-class>com.test.response.ServletDemo09</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo10</servlet-name>
  	<servlet-class>com.test.response.ServletDemo10</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo11</servlet-name>
  	<servlet-class>com.test.response.ServletDemo11</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo12</servlet-name>
  	<servlet-class>com.test.response.ServletDemo12</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo13</servlet-name>
  	<servlet-class>com.test.response.ServletDemo13</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemo14</servlet-name>
  	<servlet-class>com.test.response.ServletDemo14</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemoRequest01</servlet-name>
  	<servlet-class>com.test.request.ServletDemoRequest01</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemoRequest02</servlet-name>
  	<servlet-class>com.test.request.ServletDemoRequest02</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDemoRequest03</servlet-name>
  	<servlet-class>com.test.request.ServletDemoRequest03</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FormServlet</servlet-name>
  	<servlet-class>com.test.request.form.FormServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoFormServlet</servlet-name>
  	<servlet-class>com.test.request.form.DoFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletDemo01</servlet-name>
  	<url-pattern>/ServletDemo01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo02</servlet-name>
  	<url-pattern>/ServletDemo02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo03</servlet-name>
  	<url-pattern>/ServletDemo03</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo04</servlet-name>
  	<url-pattern>/ServletDemo04</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo05</servlet-name>
  	<url-pattern>/ServletDemo05</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo06</servlet-name>
  	<url-pattern>/ServletDemo06</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo07</servlet-name>
  	<url-pattern>/ServletDemo07</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo08</servlet-name>
  	<url-pattern>/ServletDemo08</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo09</servlet-name>
  	<url-pattern>/ServletDemo09</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo10</servlet-name>
  	<url-pattern>/ServletDemo10</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo11</servlet-name>
  	<url-pattern>/ServletDemo11</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo12</servlet-name>
  	<url-pattern>/ServletDemo12</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo13</servlet-name>
  	<url-pattern>/ServletDemo13</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemo14</servlet-name>
  	<url-pattern>/ServletDemo14</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemoRequest01</servlet-name>
  	<url-pattern>/ServletDemoRequest01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemoRequest02</servlet-name>
  	<url-pattern>/ServletDemoRequest02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDemoRequest03</servlet-name>
  	<url-pattern>/ServletDemoRequest03</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FormServlet</servlet-name>
  	<url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoFormServlet</servlet-name>
  	<url-pattern>/DoFormServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- session过期时间 -->
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
  
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
